CompileFlags:
  CompilationDatabase: ./build/Windows/windows-msvc-debug
  Add:
  - -std=c++20
  - -Wno-c++98-compat
  - -Wno-c++98-compat-pedantic
  - -Wno-padded
  - -Wno-switch-default

Diagnostics:
  ClangTidy:
    Add:
    - modernize-*
    - performance-*
    - readability-*
    Remove:
    - hicpp-*
    - readability-magic-numbers
    - modernize-use-trailing-return-type
    - readability-redundant-access-specifiers
    - readability-convert-member-functions-to-static
    - readability-identifier-length
    - modernize-use-nodiscard

InlayHints:
  Enabled: Yes
